---
// import TechnologyPartners from "../components/TechnologyPartners.astro";
// import Toolkit from "../components/Toolkit.astro";
import Hero from "../components/landing-page/Hero.astro";
import Resources from "../components/landing-page/Resources.astro";
import Solutions from "../components/landing-page/Solutions.astro";
import Testimonials from "../components/landing-page/Testimonials.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <Hero />
  <Solutions />
  <Resources />
  <Testimonials />
  <!-- <section id="partners">
    <h2>Our Technology Partners</h2>
    <TechnologyPartners />
  </section>
  <section id="toolkit">
    <h2>CFO Toolkit</h2>
    <Toolkit />
  </section> -->
</MainLayout>
